{% extends "base.html" %} {% load static %} {% block content %}
<section class="intro-text">
  <div class="contact-container">
    <div class="contact-text">
      <p>
        <a
          href="mailto:nickmharrison99"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          Email</a
        >
        <br />
        <a
          href="https://github.com/nickmharrison"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          Github</a
        >
        <br />
        <a
          href="https://www.linkedin.com/in/nicholas-harrison-b08811226/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-link"
        >
          LinkedIn</a
        >
      </p>
    </div>
  </div>
</section>
{% endblock %}
