{% extends "base.html" %} {% load static %} {% block content %}
<section class="intro-text">
  <div class="profile-container">
    <img
      src="{% static 'IMG_2822.webp' %}"
      alt="Profile Photo"
      class="profile-photo"
    />
    <div class="profile-text">
      <p><strong>Born in Appleton, WI</strong></p>
      <p><strong>December 26, 2000</strong></p>
      <p>
        I’m a self taught developer who loves building things from scratch. I
        like making programs that work well, feel good to use, and has a bit of
        my personality sprinkled in.
      </p>
      <p>
        Outside of programming, I’m probably in the gym, sketching out dumb
        ideas, or playing some video games to relax.
      </p>
    </div>
  </div>
</section>
{% endblock %}
